// All the SCSS Variables goes here

// font 
$font-family: 'Red Hat Text', sans-serif;
$font-size: 14px;

// card
$card-behind-height: 175px;
$card-behind-width: 175px;
$card-height: 80px;
$card-height-double: 160px;
$counter-size: 6rem;
