// All the SCSS Variables goes here

// font 
$font-family: 'Red Hat Text', sans-serif;
$font-size: 14px;

// card
$card-behind-height: 195px;
$card-behind-width: 195px;
$card-height: 90px;
$card-height-double: 180px;
$counter-size: 125px;
