.counter-header {
    background-image: url("./../../images/bg-stars.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.counter-footer {
    background-image: url("./../../images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.counter-heading {
    letter-spacing: .8rem;
}

.counter-title {
    letter-spacing: .5rem;
}

.behind-card {
    background-color: $dark;
    height: $card-behind-height;
    width: $card-behind-width;
}

.card-top {
    background-color: #313249;
    height: $card-height;
    position: relative;
    margin-bottom: 2px;
}


.card-top:before,
.flip-container:before {
    content: "";
    position: absolute;
    bottom: -8px;
    right: -8px;
    border-top: 16px solid $dark;
    border-left: 16px solid $dark;
    width: 0;
    background: $dark;
    border-radius: 100px;
}

.card-top:after,
.flip-container:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -8px;
    border-top: 16px solid $dark;
    border-left: 16px solid $dark;
    width: 0;
    background: $dark;
    border-radius: 100px;
}

.card-bottom:before {
    content: "";
    position: absolute;
    top: -8px;
    right: -8px;
    border-top: 16px solid $dark;
    border-left: 16px solid $dark;
    width: 0;
    background: $dark;
    border-radius: 100px;
}

.card-bottom:after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    border-top: 16px solid $dark;
    border-left: 16px solid $dark;
    width: 0;
    background: $dark;
    border-radius: 100px;
}

.card-bottom {
    background-color: $dark-de-saturated-blue;
    height: $card-height;
}

.text-top {
    font-size: $counter-size;
    top: 20%
}

.text-bottom {
    font-size: $counter-size;
    bottom: 23%;
}

.flip-container {
    height: $card-height;
    left: 0;
    right: 0;
    top: 0;
    transform: rotateX(180deg);
    transform-origin: bottom;
    background-color: $dark-de-saturated-blue;
    margin-top: 2px;
}

.flip-animation {
    animation: myMove .7s ;
    animation-timing-function: linear;
}

.flipper {
    font-size: $counter-size;
    min-height: 144px;
    transform: rotateX(180deg);
}

@keyframes myMove {
    0% {
        transform: rotateX(25deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);
    }

    25% {
        transform: rotateX(125deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);
    }

    50% {
        transform: rotateX(160deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);

    }

    75% {
        transform: rotateX(135deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 0.95) 90%);
    }

    100% {
        transform: rotateX(180deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,0.2) 0%, rgba(116, 116, 116, 0.2) 90%);
    }
}
@keyframes myMoveMobile {
    0% {
        transform: rotateX(25deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);
    }

    25% {
        transform: rotateX(125deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);
    }

    50% {
        transform: rotateX(160deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 1) 90%);
    }

    75% {
        transform: rotateX(135deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,1) 0%, rgba(116, 116, 116, 0.95) 90%);

    }

    100% {
        transform: rotateX(180deg);
        background: rgb(52,54,80);
        background: linear-gradient(0deg, rgba(52,54,80,0.2) 0%, rgba(116, 116, 116, 0.2) 90%);

    }
}


@media only screen and (max-width: 992px) {
    .behind-card {
        height: $card-behind-height / 2;
        width: $card-behind-width / 2;
    }
    .card-top, .card-bottom {
        height: $card-height / 2;
    }
    .text-top {
        font-size: $counter-size / 2;
        top: 20%
    }
    .text-bottom{
        font-size: $counter-size / 2;
    }
    .flip-container {
        height: $card-height / 2;
    }
    .flipper {
        font-size: $counter-size / 2;
        min-height: 72px;
    }
    .counter-title {
        letter-spacing: .1rem;
    }
    .flip-animation {
        animation: myMoveMobile .7s;
        animation-timing-function: linear;
    }
}